<%= form_for([@article, @comment]) do |form| %>
  <div class="tb-comment_form">
    <div class="tb-comment__body">
      <%=
        form.text_area(
          :body,
          placeholder: "Enter your comment here",
          class: "tb-comment__input",
        )
      %>
      <%=
        tb_submit_button(
          form,
          "Add comment",
          "comment",
          extra_class: "tb-comment__button"
        )
      %>
    </div>
  </div>
<% end %>
