<h1>All articles</h1>

<ul class="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<h2><%= link_to "All tags", tags_path %></h2>

<%= link_to "Author new article", new_article_path, class: "new-article" %>
