<h2 class="tb-application__header">
  <%= pluralize(@articles.size, "article") %> found
</h2>

<p class="tb-application__byline">
  (last 24 hours only)
</p>

<div class="tb-summary-group">
  <% @articles.each do |article| %>
    <%=
      link_to(
        "#{article.title} (#{ago_in_words(article.created_at)})",
        article_path(article),
        class: "tb-summary-group__item"
      )
    %>
  <% end %>

  <%=
    tb_link_button(
      "Author new article",
      new_article_path,
      "plus",
      extra_class: "tb-summary-group__button"
    )
  %>
</div>

<div class="tb-application__footer">
  <%=
    tb_link_button(
      "All tags",
      tags_path,
      "tag"
    )
  %>
</div>
