<h1>All articles</h1>

<ul class="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<ul>
  <li>
    <%=
      tb_link_button(
        "All tags",
        tags_path,
        "tag"
      )
    %>
  </li>
  <li>
    <%=
      tb_link_button(
        "Author new article",
        new_article_path,
        "plus"
      )
    %>
  </li>
</ul>
