<h2><%= pluralize(@articles.size, "article") %> found</h2>
<p>(last 24 hours only)</p>

<div class="tb-summary-group">
  <% @articles.each do |article| %>
    <%=
      link_to(
        "#{article.title} (from #{ago_in_words(article.created_at)})",
        article_path(article),
        class: "tb-summary-group__item"
      )
    %>
  <% end %>

  <%=
    tb_link_button(
      "Author new article",
      new_article_path,
      "plus",
      extra_class: "tb-summary-group__button"
    )
  %>
</div>

<div class="tb-footer">
  <%=
    tb_link_button(
      "All tags",
      tags_path,
      "tag"
    )
  %>
</div>
