<h1>All tags</h1>

<ul>
<% @tags.each do |tag| %>
  <li><%= link_to "#{tag.name} (#{pluralize(tag.tagging.size, 'article')})", tag_path(tag) %></li>
<% end %>
</ul>

<%=
  tb_link_button(
    "All articles",
    articles_path,
    "arrow-left"
  )
%>
