<h2><%= pluralize(@tags.size, "tag") %> found</h2>
<p>(last 24 hours only)</p>

<div class="tb-summary-group">
  <% @tags.each do |tag| %>
    <%=
      link_to(
        "#{tag.name} (#{pluralize(tag.tagging.size, 'article')})",
        tag_path(tag),
        class: "tb-summary-group__item"
      )
    %>
  <% end %>
</div>

<div class="tb-footer">
  <%=
    tb_link_button(
      "All articles",
      articles_path,
      "arrow-left"
    )
  %>
</div>
