@import "theme";
@import "bootstrap-custom";
@import "octicon";
@import "flash";
@import "button";
@import "empty";
@import "summary-group";
@import "form-row";
@import "file";
@import "article-form";
@import "article";
@import "comment";
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

.tb-application {
  font-family: 'Share Tech Mono', monospace;
  max-width: 40rem;
  border: 2px solid $primary;
  padding: $application-padding;
  text-decoration-skip: ink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@include media-breakpoint-up(sm) {
  .tb-application {
    border-radius: $border-radius;
    margin: 3rem 4rem;
    min-height: auto;
  }
}

.tb-application__header {
  margin: 1rem 0;
}

.tb-application__byline {
  color: $blockquote-small-color;
}

.tb-application__content {
  padding: 0.8rem 1.6rem;
  margin-bottom: 1rem;
}

.tb-application__footer {
  border-top: 2px solid $primary;
  margin: auto (-$application-padding) (-$application-padding);
  padding: $application-padding;
}
