body {
  max-width: 30em;
  margin: 3em 4em;
  border: 1px solid black;
  padding: 1em 1.5em 2em;
}

.articles {
  font-size: 1.5em;
}

.new-article {
  font-size: 1.5em;
  color: cyan;
}

.flash {
  font-style: italic;
}
