@import "mixins/*";

.articles {
  font-size: 1.5em;
}

.new-article {
  font-size: 1.5em;
  color: cyan;
}

.comments {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: #080;
}
