.tb-summary-group {
  padding: 0.8rem 1.6rem;
}

.tb-summary-group__item {
  display: block;
  font-size: $h5-font-size;
  margin-bottom: 0.4rem;
}

.tb-summary-group__button {
  margin-top: 0.6rem;
  margin-left: -0.4rem;
}
